#categories{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
      padding: 20px 20px;
          background: #1818188a;
  .category-box{
    &:not(:last-child){
      border-right: solid grey 1px;
    }
    .title{
      text-align: center;
          margin-bottom: 20px;
      font-size: 1.2rem;
      font-weight: 500;
      cursor: pointer;
      text-transform: uppercase;
    }
    .link-box{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .link{
        text-align: center;
        margin: 10px;
        text-transform: capitalize;
      }
    }
  }
}
