@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "./Header/header";
@import "./Home/categories";
@import "./Home/trending";
@import "./Home/home";

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(rgba(0, 22, 100, 0.72), #02000d),url(../img/StLouis.jpg);
  background-size: cover;
  background-position: 10%;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 77px;
  line-height: 1;
  background: white;
  text-shadow: #191919 0 0 10px;
}

span{
  font-size: 5rem;
  color: white;
}
