@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "./Header/header";
@import "./Home/categories";
@import "./Home/trending";
@import "./Home/home";
@import "./Listings/listings";
@import "./items/item";
*{
    font-family: 'Roboto', sans-serif;
}
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(rgba(0, 22, 100, 0.72), #02000d),url(../img/StLouis.jpg);
  background-size: cover;
  background-position: 10%;
  background-repeat: no-repeat;
  min-height: 100vh;
  line-height: 1;
      text-shadow: #3f3f3f8a 0 0 10px;
  .body{
    padding-top: 77px;
    span{
      font-size: 5rem;
      color: white;
    }
  }
}
